html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

.main {
    flex: 1;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo de carga/loader */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white; /* Cambiar el color del fondo a blanco */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Asegurar que la capa se muestre por encima de todo */
    opacity: 1; /* Opacidad inicial, 1 es totalmente visible */
    transition: opacity 0.5s ease; /* Transición de opacidad durante 0.5 segundos con efecto suave */
}

.overlay-content {
    position: relative; /* Para posicionar el icono sobre el spinner */
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    border: 4px solid #f3f3f3; /* Color del borde */
    border-top: 4px solid #3498db; /* Color del borde del spinner */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 0.7s linear infinite; /* Animación de rotación */
}

.overlay-icon {
    position: absolute; /* Para posicionar sobre el spinner */
    width: 30px; /* Tamaño del icono */
    height: 30px; /* Tamaño del icono */
    border-radius: 50%; /* Hace que la imagen sea circular */
    object-fit: cover; /* Asegura que la imagen se ajuste bien en el contenedor circular */
    z-index: 10000; /* Asegurarse de que la imagen esté sobre el spinner */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Estilo de barra de navegacion */
.navbar {
     background-color: #000000; /* Color de fondo */
     opacity: 0.7; /* 80% de opacidad */
}

.navbar-brand {
    font-weight: bold; /* Fuente en negrita */
    font-size: 1.25rem; /* Tamaño de fuente */
}

.nav-link {
    margin-left: 1rem; /* Espacio entre enlaces */
    transition: color 0.3s; /* Transición suave para el color */
}

.nav-link:hover {
    color: #0056b3; /* Color del enlace en hover */
}

.navbar-toggler {
    border: none; /* Quitar borde del botón */
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml,...'); /* Icono personalizado */
}

.nav-item {
    margin-right: 1rem; /* Espacio entre elementos de la lista */
}

.navbar-nav .nav-item.active .nav-link {
    background-color: #000; /* Cambia el color de fondo cuando el elemento está activo */
    color: #ffffff; /* Cambia el color del texto cuando el elemento está activo */
    border-radius: 4px; /* Agrega bordes redondeados si lo deseas */
}

/* Estilo de formularios */
.form-label {
    font-size: 1rem;
    font-weight: bold;
}

.form-control {
    border: 1px solid #ced4da; /* Borde del campo de entrada */
    border-radius: 5px; /* Radio de borde */
}

/* Estilo Footer */
.footer {
    text-align: center; /* Alinear el texto al centro */
    padding: 10px; /* Espaciado interno */
    margin-top: 20px; /* Espaciado superior */
    background-color: #000000; /* Color de fondo */
    opacity: 0.7; /* 80% de opacidad */
    color: #ffffff; /* Color del texto */
}

.footer a {
    color: #ffffff; /* Color de los enlaces */
    text-decoration: none; /* Quitar subrayado de los enlaces */
}

.footer a:hover {
    text-decoration: underline; /* Subrayar enlaces al pasar el ratón */
}

.footer p {
    margin: 0; /* Eliminar margen */
}

