body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}
.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white; /* Cambiar el color del fondo a blanco */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Asegurar que la capa se muestre por encima de todo */
    opacity: 1; /* Opacidad inicial, 1 es totalmente visible */
    transition: opacity 0.5s ease; /* Transición de opacidad durante 0.5 segundos con efecto suave */
}
.overlay-content {
    color: black; /* Cambiar el color del texto a negro */
    font-size: 24px;
}
.spinner {
    border: 4px solid #f3f3f3; /* Color del borde */
    border-top: 4px solid #3498db; /* Color del borde del spinner */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 0.7s linear infinite; /* Animación de rotación */
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.swal-container {
    /* Estilo para el contenedor principal */
}

.swal-popup {
    font-size: 1.5rem; /* Tamaño de la fuente para el contenido de la alerta */
    border-radius: 10px; /* Bordes redondeados */
    width: 600px; /* Ancho de la ventana */
}

.swal-title {
    font-size: 2rem; /* Tamaño de la fuente del título */
    color: #333; /* Color del título */
}

.swal-content {
    font-size: 1.2rem; /* Tamaño de la fuente del contenido */
}

.swal-button {
    padding: 0.75em 1.5em; /* Relleno de los botones */
    font-size: 1rem; /* Tamaño de la fuente de los botones */
    border-radius: 5px; /* Bordes redondeados para los botones */
}

.custom-icon {
    font-size: 3rem; /* Tamaño del icono personalizado */
    color: #28a745; /* Color del icono personalizado */
}
.navbar {
    border-bottom: 2px solid #007bff; /* Línea de borde en la parte inferior */
}

.navbar-brand {
    font-weight: bold; /* Fuente en negrita */
    font-size: 1.25rem; /* Tamaño de fuente */
}

.nav-link {
    margin-left: 1rem; /* Espacio entre enlaces */
    transition: color 0.3s; /* Transición suave para el color */
}

.nav-link:hover {
    color: #0056b3; /* Color del enlace en hover */
}

.navbar-toggler {
    border: none; /* Quitar borde del botón */
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml,...'); /* Icono personalizado */
}

.nav-item {
    margin-right: 1rem; /* Espacio entre elementos de la lista */
}
.form-label {
    font-size: 1rem;
    font-weight: bold;
}