{% extends 'base.html' %}

{% block title %}Administración Poison G{% endblock %}

{% block styles %}
    <style>
        .admin-link {
            cursor: pointer;
        }
        .admin-link {
            margin-bottom: 10px;
        }
    </style>
{% endblock %}

{% block form %}
    <div class="list-group">
        <a href="{{ url_for('create_raffle') }}" class="list-group-item list-group-item-action admin-link">
            Crear Sorteo
        </a>
        <a href="{{ url_for('list_raffles') }}" class="list-group-item list-group-item-action admin-link">
            Listar Sorteos
        </a>
        <a href="{{ url_for('list_numbers') }}" class="list-group-item list-group-item-action admin-link">
            Ver Números Generados
        </a>
        <a href="{{ url_for('index') }}" class="list-group-item list-group-item-action admin-link">
            Ver Sorteo actual
        </a>
    </div>
{% endblock %}