<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Poison G</title>
    {% block styles %}
    {% endblock %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
            color: #333;
        }
        .container {
            background: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h2>{% block title %}{% endblock %}</h2>
        <!-- Mostrar mensajes flash -->
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <script>
                        Swal.fire({
                            title: 'Mensaje',
                            text: '{{ message }}',
                            icon: '{{ category }}',
                            confirmButtonText: 'Aceptar'
                        });
                    </script>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block form %}
        {% endblock %}
        {% block table %}
        {% endblock %}
    </div>
    {% block scripts %}
    {% endblock %}
</body>