{% extends 'base.html' %}

{% block title %}Crear Sorteo{% endblock %}

{% block form %}
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.start_date.label(class="form-label") }}
                {{ form.start_date(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.max_number.label(class="form-label") }}
                {{ form.max_number(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.valor_numero.label(class="form-label") }}
                {{ form.valor_numero(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.image.label(class="form-label") }}
                {{ form.image(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-dark") }}
            </div>
        </form>
    </div>
{% endblock %}
