{% extends 'base.html' %}

{% block title %}Generar Numeros{% endblock %}

{% block styles %}
    <style>
        .form-group {
            margin-bottom: 1rem;
        }
    </style>
{% endblock %}

{% block form %}
        {% if raffle %}
            <h4><strong>Sorteo Activo:</strong> {{ raffle.name }} (Fecha de Inicio: {{ raffle.start_date }})</h4>
        {% else %}
            <h4>No hay sorteos activos en este momento.</h4>
        {% endif %}
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.first_name.label(class="form-label") }}
                        {{ form.first_name(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.last_name.label(class="form-label") }}
                        {{ form.last_name(class="form-control") }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.address.label(class="form-label") }}
                        {{ form.address(class="form-control") }}
                    </div>

                    <div class="form-group">
                        {{ form.reference_number.label(class="form-label") }}
                        {{ form.reference_number(class="form-control") }}
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.email.label(class="form-label") }}
                        {{ form.email(class="form-control") }}
                    </div>

                    <div class="form-group">
                        {{ form.num_numbers.label(class="form-label") }}
                        {{ form.num_numbers(class="form-control") }}
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.bank_account.label(class="form-label") }}
                        {{ form.bank_account(class="form-control") }}
                    </div>

                    <div class="form-group" id="custom-number-container" style="display: none;">
                        {{ form.custom_number.label(class="form-label") }}
                        {{ form.custom_number(class="form-control") }}
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.reference.label(class="form-label") }}
                        {{ form.reference(class="form-control") }}
                    </div>

                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function toggleCustomNumber() {
            var numNumbers = document.getElementById('num_numbers').value;
            var customNumberContainer = document.getElementById('custom-number-container');
            if (numNumbers === 'custom') {
                customNumberContainer.style.display = 'block';
            } else {
                customNumberContainer.style.display = 'none';
            }
        }
        document.getElementById('num_numbers').addEventListener('change', toggleCustomNumber);
    </script>
{% endblock %}
